pkgbase = claudectl-bin
	pkgdesc = Mission control TUI for Claude Code sessions
	pkgver = 0.16.0
	pkgrel = 1
	url = https://github.com/mercurialsolo/claudectl
	arch = x86_64
	license = MIT
	conflicts = claudectl
	conflicts = claudectl-git
	provides = claudectl
	source = claudectl-v0.16.0-x86_64-unknown-linux-musl.tar.gz::https://github.com/mercurialsolo/claudectl/releases/download/v0.16.0/claudectl-v0.16.0-x86_64-unknown-linux-musl.tar.gz
	source = LICENSE::https://raw.githubusercontent.com/mercurialsolo/claudectl/v0.16.0/LICENSE
	sha256sums = 3832a8f29b30368aa1e139f4563353c6abf9de09af649c527a29ae9814f2926f
	sha256sums = c7335fce47998935bbe76ef2fe9dfeb0ba7b7fb8f0edec16127a0a370f6c8b80

pkgname = claudectl-bin
